
@font-face {
    font-family: 'NewsCondensed';
    src: url('./../assets/fonts/NewsCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "GothamProRBlack";
    src: url("./../assets/fonts/GothamProRBlack.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "GothamProRBold";
    src: url("./../assets/fonts/GothamProRBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "GothamProRLight";
    src: url("./../assets/fonts/GothamProRLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "GothamProRMedium";
    src: url("./../assets/fonts/GothamProRMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "GothamProRRegular";
    src: url("./../assets/fonts/GothamProRRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
